- @categories.each do |category|
  %article.video_category
    %header
      %h3= link_to category.name 
    .videos.row
      - category.recent_videos.each do |video|
        .video.col-sm-2
          = link_to "/videos/#{video.id}", nil do
            %img(src="#{video.small_cover_url}")
